@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@layer base{
    :root {
            --color-pink: #ee69f9;
            --color-orange: #e7a300;
            --color-dark: #232323;
        }
    @font-face{
            font-family: 'Jeko Bold';
            font-weight: 100 900;
            font-style: normal;
            font-display: swap;
            src: url(../fonts/Jeko_Bold.ttf) format("truetype"),
        }
    @font-face {
        font-family: 'Jeko';
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
        src: url(../fonts/Jeko_Medium.ttf) format("truetype"),
        }
    *{
        font-family: 'Jeko Bold', sans-serif;
    }
    .bg-dark {
        background-color: var(--color-dark);
        color: white;
    }
    .bg-dark-opacity {
        background-color: rgba(35, 35, 35, 0.5);
    }
    .bg-orange {
        background-color: var(--color-orange);
        color: var(--color-dark);
    }
    .bg-pink {
        background-color: var(--color-pink);
        color: var(--color-dark);
    }
    .text-orange {
        color: var(--color-orange);
    }
    .font-light {
        font-family: 'Jeko Medium', sans-serif;
    }
}

@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select,textarea {
        @apply py-2 px-4;
    }       
    #dropdown-menu{
        @apply w-full md:w-28 left-0 right-0 bg-white;
    }
    summary{
        @apply flex flex-row justify-between px-6 py-3;
    }
    summary:after{
        content:">";
        @apply rotate-90 text-white font-black text-2xl;
    }
}